---
// Component Imports
import Counter from '../components/Counter.vue';
import ToDoList from '../components/ToDoList.vue';
import Layout from '../layouts/index.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<Layout>
	<Counter client:visible>
		<h1>Hello, Vue!</h1>
	</Counter>
	<ToDoList client:visible></ToDoList>
</Layout>
